@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  margin: 0px;
}

* {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  padding: 10px;
}

.btn {
  padding: 2px 8px;
  border: none;
  border-radius: 2px;
}

.submit-btn {
  background-color: #3f51b5;
  color: #fff;
}

.save-btn {
  background-color: green;
  color: #fff;
}

.warning-btn {
  background-color: yellow;
  color: #000;
}

.cancel-btn {
  background-color: red;
  color: #fff;
}

.one-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.one-line .line-section {
  margin-left: 15px;
}

.one-line .line-section:first-child {
  margin-left: 0px;
}

.one-line .line-section .cust-label {
  display: block;
  font-family: sans-serif;
  font-size: 13px;
  text-transform: capitalize;
}

.one-line .line-section .cust-form-control {
  font-family: sans-serif;
  font-size: 13px;
  border: 1px solid #aaa;
  padding: 4px;
  border-radius: 4px;
}

.one-line .line-section .cust-form-control:focus {
  outline: none;
}

.table-container {
  width: 100%;
  overflow: auto;
}

.cust-table {
  border-collapse: collapse;
  width: 100%;
}

.cust-table thead tr th {
  background-color: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: capitalize;
}

.cust-table thead tr td {
  background-color: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: capitalize;
}

.cust-table thead tr td, .cust-table thead tr th, .cust-table tbody tr td, .cust-table tbody tr th {
  font-size: 12px;
  padding: 6px;
}

.cust-table thead tr td .input-table, .cust-table thead tr th .input-table, .cust-table tbody tr td .input-table, .cust-table tbody tr th .input-table {
  border: none;
  border-bottom: 1px solid #000;
}

.cust-table tfoot tr td {
  padding: 6px;
  background-color: #e2e2e2;
}

.cust-table-stripped thead tr {
  background-color: #ddd;
}

.cust-table-stripped tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}

.cust-table-stripped tbody tr:nth-child(even) {
  background-color: #e4e4e4;
}

.cust-table-right th {
  text-align: right;
}

.cust-table-right td {
  text-align: right;
}

.cust-table-left th {
  text-align: left;
}

.cust-table-left td {
  text-align: left;
}

.cust-table-center th {
  text-align: center;
}

.cust-table-center td {
  text-align: center;
}

.cust-table-bordered thead tr td, .cust-table-bordered thead tr th, .cust-table-bordered tbody tr td, .cust-table-bordered tbody tr th {
  border: 1px solid #aaa;
}

.cust-table-bordered tfoot tr td {
  border: 1px solid #aaa;
}

.cust-table-nowrap thead tr td, .cust-table-nowrap thead tr th, .cust-table-nowrap tbody tr td, .cust-table-nowrap tbody tr th {
  white-space: nowrap;
}

.cust-table-flex thead tr td .tbl-div-flex, .cust-table-flex thead tr th .tbl-div-flex, .cust-table-flex tbody tr td .tbl-div-flex, .cust-table-flex tbody tr th .tbl-div-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cust-table-flex thead tr td .tbl-div-flex .input-table, .cust-table-flex thead tr th .tbl-div-flex .input-table, .cust-table-flex tbody tr td .tbl-div-flex .input-table, .cust-table-flex tbody tr th .tbl-div-flex .input-table {
  -webkit-box-flex: 100;
      -ms-flex: 100;
          flex: 100;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: none !important;
}

table.dataTable tfoot th, table.dataTable tfoot td {
  border-top: none !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  font-size: 10px !important;
}

table.dataTable thead th, table.dataTable tfoot th {
  font-weight: 400 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 13px !important;
}

.tail-select .select-label {
  padding: 2px 30px 2px 10px !important;
  font-size: 11px !important;
}
/*# sourceMappingURL=style.css.map */